Library/
Temp/
*.csproj
*.sln
Assets/packLog
Assets/packLog.meta
Assets/Icon.meta
Assets/Resources/Lua/
Assets/Resources/Lua.meta
Assets/Plugins/Android/libs/tbs.jar.meta
Assets/Plugins/Android/libs/tbs.jar
Assets/Icon/Icon.png.meta
Assets/Icon/Icon.png
Output/
HotUpdate/
.vs/
LE4_Client.v12.suo
Assets/StreamingAssets/
Assets/StreamingAssets.meta
.vscode/
Assets/.vscode/
ExcelToJsonTools/xlsx
ExcelToJsonTools/json
Assets/Develop/.vscode/launch.json
Assets/Develop/Lua/.vscode/launch.json
obj/
Assets/AssetBundles-Browser-1.7.0/
ProjectSettings/ProjectSettings.asset
Assets/Resources/Prefabs/UI/LimitedFestival.meta
Assets/Develop/Lua/LuaDebug.lua
Assets/LuaProfiler/
Assets/Develop/Lua/.vscode/
